**/.mypy_cache/**
/update@*.cmd
Distributives/Developement/python/cpython/python_versions.html
Distributives/Soft com freeware/MultiMedia/Codecs/codecguide.com/K-Lite Codec Pack/download.list
software_update/**
temp-backup-scripts/**
