appdirs
requests
pywin32
# truststore    # https://stackoverflow.com/a/52961564/1421036
pip-system-certs  # https://stackoverflow.com/q/39356413/1421036#comment129292368_64058012

#gevent
#rich

# https://pypi.org/project/boto3-stubs/
# boto3 type annotations
# for ec2, s3, rds, lambda, sqs, dynamo and cloudformation
#boto3-stubs[essential]
