# appdirs
boto3
# boto3[crt]
# bs4
# chardet # For UnicodeDammit. Alternatively, charset-normalizer or cchardet
# ESL
# lxml
# prometheus_client
# psutil
# python-dotenv
# requests
# slimit
# typing_extensions>=3.7.4

# boto3-stubs[ec2,autoscaling]
# lxml-stubs
# setuptools # distutils doesn't put dependencies in the deb
# stdeb
# types-appdirs
# types-beautifulsoup4
# types-psutil
# types-requests
